body{
    color: white;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    /* filter: blur(50px); */
}

nav{
    position: fixed;
    top: 1rem;
    display: flex;
    justify-content: center;
    z-index: 1000;
    width: 80%;
    backdrop-filter: blur(8px);
    border-radius: 40px;
    border: 1px solid gray;
}

nav > ul{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

nav > ul > div{
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-decoration: none;
}

nav > ul > div > a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav > ul > button{
    height: 100%;
    background-color: white;
    color: black;
    left: 89%;
    border: none;
    border-radius: 30px;
    position: absolute;
    width: 7pc;
    height: 3pc;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > ul > button:hover{
     background-color: rgba(224, 222, 118, 0.3);
    color: yellow; 
}

/* #cursor-light{
    position: fixed;
    width: 200px;
    height: 200px;
     z-index: 999; 
    pointer-events: none;
    border-radius: 50%;

    backdrop-filter: contrast(50%);
    -webkit-backdrop-filter: contrast(50%);
    transform: translate(-50%, -50%);
    z-index: 9999;
    mask-image: radial-gradient(circle, black 30%, transparent 70%);
} */

#Home{
    display: flex;
    justify-content: center;
    flex-direction: column;
} 

#h1{
    margin-top: 32vh;
    transition: filter 0.8s linear;
    animation: start 1s linear;
    will-change: transition, animation;
    filter: blur(10px);
    overflow: hidden;
    display: inline-block;
    display: flex;
    justify-content: center;
}

#astro{
    transition: filter 1.1s linear;
    animation: start 1.1s linear;
    filter: blur(10px);
    display: flex;
    justify-content: center;
}

@keyframes start {
    from{
        transform: translateY(20%);
    }
    to{
        transform: translateY(0%);
    }
}

.brands{
    width: 20%;
    border-radius: 50px;
    background-color: rgba(224, 222, 118, 0.3);
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 10rem;
    font-size: 15px;
    color: yellow;
    position: relative;
    left: 40%;
}


.logos{
    overflow: hidden;
    padding: 60px 0;
    background: black;
    white-space: nowrap;
    position: relative;
    top: 2px;
}

.logos::before,
.logos::after{
    position: absolute;
    width: 250px;
    height: 100%;
    top: 0;
    content: "";
    z-index: 2;
}

.logos:before{
    left: 0;
    background: linear-gradient(to left,
    rgba(255,255,255,0)
    );
}

.logos:after{
    right: 0;
    background: linear-gradient(to right,
    rgba(255,255,255,0)
    );
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos-slide{
    display: inline-block;
    animation:slide 35s linear
    infinite;
}

.logos-slide img{
    height: 50px;
    margin: 0 40px;
}

.logos:hover .logos-slide{
    animation-play-state: paused;
}

img{
    opacity: 0.2;
    transition: opacity 1s ease;
}

img:hover{
    opacity:1;
    scale: 1.3;
}

#About{
    display: flex;
    justify-content: center;
    border: 2px solid rgba(224, 222, 118, 0.3);
    margin: 7rem 100px 10rem 100px;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.2);
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px);
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.container > div{
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    min-height: 0;
    min-width: 0;
    overflow: hidden;
    overflow-wrap:break-word;
}

.about-img > img{
    height: 100%;
    width: 100%;
    opacity: 1;
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden; 
    scale: none;
}

#img1{
    height: 500px;
    padding: 8px;
}

#img2{
    height: 500px;
    padding: 8px;
}

#img3{
    height: 500px;
    padding: 8px;
}

#pricing{
    width: 100%;
    height: auto;
    background-color: rgba(90, 122, 13, 0.3);
}

#pricing > h2, p{
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
}

.container-pricing{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.container-pricing > div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(253, 249, 8, 0.61);
    align-items: center;
    height: 500px;
    width: 300px;
    border-radius: 15px;
    background-color: rgba(254, 254, 254, 0.603);
    color: black;
}

.container-pricing > div > h2{
    font-size: 23px;
    font-weight: 500;
}

.container-pricing > div > p, ul > li{
    font-size: 16px;
    font-weight: 300;
}

.container-pricing > div > ul > li{
        overflow-wrap:break-word;
}

.container-pricing > div > button {
    width: 200px;
    height: 30px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    background-color: rgba(255, 253, 253, 0.8);
}

.container-pricing > div > button:hover{
    background-color: black;
    color: yellow;
    cursor: pointer;
}

